<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AYURSAGE</title>
    <link rel="stylesheet" href="\static\css\styles.css">
</head>

<body>
    <header>
        <div class="container">
            <h1 class="title">AYURSAGE</h1>
            <nav>
                <ul>
                    <li><a href="\templates\login.html" class="btn">Login</a></li>
                    <li><a href="#home" class="btn">Home</a></li>
                    <li><a href="#about" class="btn">About Ayurveda</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="hero">
        <h2>AYURVEDA</h2>
        <p>Ayurvedic medicine harmonizes body, mind, and spirit for holistic wellness.</p>
    </section>


    <section id="flowers">
        <h2>MEDICINAL VALUES</h2>
        <div class="row">
            <div class="left_img">
            <img src="https://img.freepik.com/free-photo/3d-delicious-food-tet-vietnamese-new-year_23-2151077535.jpg?t=st=1714135092~exp=1714138692~hmac=a10298b6a6aacd25ab7456c8c0a6e04e5037b5fc4185f5cd28585be87b18821f&w=900" alt="">
            </div>    
            <div class="right">
                <div class="content">
                    <p>Ayurveda, an ancient system of medicine originating in India, embodies a holistic approach to health and wellness.
                    Rooted in the belief that the body, mind, and spirit are interconnected, Ayurvedic principles emphasize balance and harmony as essential for overall well-being. This tradition recognizes that each person has a unique constitution, or dosha, comprising three energies: Vata, Pitta, and Kapha.
                    Through personalized assessments, Ayurvedic practitioners tailor treatments to rebalance these energies, utilizing a combination of natural remedies, including herbs, dietary adjustments, lifestyle practices, and therapeutic techniques such as yoga and meditation. By addressing the root cause of imbalances rather than merely treating symptoms, Ayurveda aims to promote longevity, vitality, and optimal health for individuals of all ages.</p>
                </div>
            </div>
  
            <div class="left">
                <div class="content">
                    <p>An interesting fact about using Ayurvedic classical books and repositories to suggest drugs and formulations for diseases or pharmacological properties is that modern research is increasingly validating the efficacy of many traditional Ayurvedic remedies.
                         For example, studies have found that certain Ayurvedic herbs like turmeric (Curcuma longa) and ashwagandha (Withania somnifera) possess potent anti-inflammatory and adaptogenic properties, respectively, which align with their traditional uses in Ayurveda.
                        This convergence of ancient wisdom and modern science highlights the rich potential for integrating traditional knowledge systems like Ayurveda into contemporary healthcare practices.</p>
                </div>
            </div>
            <div class="right_img">
                <img src="https://img.freepik.com/free-photo/front-view-ice-cream-horns-along-with-lemons-cup-tea-mint-white-fruit-dessert-ice-cream_140725-24806.jpg?t=st=1714135234~exp=1714138834~hmac=1e0d87c70694cabe57fc44624dc1d9c14682334d51c6f13c4a0dad661637f76f&w=996" alt="">
            </div>  

            <div class="left_img">
                <img src="https://img.freepik.com/premium-photo/happy-ugadi-greeting-card-background-with-kalash_837518-1360.jpg?w=1060" alt="">
            </div>    
            <div class="right">
                <div class="content">
                    <p>Many of the plants and formulations documented in Ayurvedic texts have been used for centuries and are deeply intertwined with the cultural identity of communities across the Indian subcontinent. 
                        By leveraging this traditional knowledge, not only can effective treatments be identified for various ailments, but there's also an opportunity to promote sustainable practices for harvesting and cultivating medicinal plants, thereby conserving biodiversity and supporting local economies.
                         This intersection of ancient wisdom, healthcare innovation, and environmental stewardship highlights the multifaceted benefits of incorporating Ayurvedic principles into contemporary medicine.</p>
                </div>
            </div>    
            <div class="left">
                <div class="content">
                    <p>Delving into the rich tapestry of Ayurvedic classical texts and repositories for guiding modern drug discovery and formulation suggests a profound renaissance in healthcare. 
                        These ancient manuscripts, repositories of wisdom passed down through millennia, offer a treasure trove of botanical knowledge, therapeutic formulations, and holistic healing principles.
                         What's truly remarkable is the synergy emerging between the timeless wisdom encoded in these texts and cutting-edge scientific research, unveiling the therapeutic potential of traditional Ayurvedic remedies.
                         This convergence not only bridges the gap between ancient wisdom and modern medicine but also holds promise for addressing contemporary healthcare challenges, fostering a harmonious blend of tradition and innovation on the path toward holistic wellness.</p>
                </div>
            </div> 
            <div class="right_img">
                <img src="https://img.freepik.com/premium-photo/fresh-green-leaves-held-by-human-hand-beauty-nature-generated-by-ai_24640-92293.jpg?w=1060" alt="">
            </div>           
        </div>
    </section>
    
    <section id="next">
        <a href="/templates/index.html" class="btn">Trigger</a>
    </section>

    <section id="about">
        <h2>About Us</h2>
        <p>Harmonizing nature's wisdom with holistic well-being, Ayurveda restores balance to body, mind, and spirit.</p>
    </section>


    <footer>
        <p>&copy; Ayurveda and its benefits</p>
    </footer>

</body>

</html>
